@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .primaryButton {
        @apply px-4 py-1 bg-yellow-500 text-black rounded-sm hover:bg-yellow-300;
    }

    .logo img { height: 72px; width: auto; }
    .header-top { 
        height: 160px;
        @apply text-white;
    }

    .header-bg {
        background: url('/images/header_bg_top.jpg');
        background-size: cover;
        background-position: center center;
    }

    .header-top .navbar a {
        @apply text-xl shadow-lg hover:opacity-60;
    }

    .header-top .navbar a.active {
        @apply  border-yellow-500 border-b-[2px];
    }

    .header-top .navbar ul.user.not-logged-in a {
        @apply primaryButton;
    }

    .categoryCard {
        @apply m-2 !w-[26rem] hover:opacity-60;
    }

    .categoryTitle {
        @apply text-xl p-2 py-4 flex justify-center;
    }

    .categoryParents {
        @apply lg:text-sm mb-2 lg:mb-4 ml-2;
    }

    .categoryParents a {
        @apply hover:opacity-60;
    }

    .textCardSmall .categoryTitle {
        font-size: 14px !important;
    }

    .textCardSmall {
        @apply !w-36;
    }

    .mainContent {
        @apply w-full lg:w-3/4 lg:mx-auto p-4;
        height: calc(100vh - 160px) !important;
    }

    .itemCard {
        @apply h-[32rem] w-80 bg-slate-100 hover:opacity-60;
    }

    .itemCardContent {
        @apply p-2;
    }

    .itemImageCarousel {
        cursor: pointer;
    }
}